<!-- Jumbotron -->
<div class="jumbotron text-center">

  <!-- Title -->
  <h2 class="card-title h2">Material Design for Bootstrap</h2>
  <!-- Subtitle -->
  <p class="blue-text my-4 font-weight-bold">NODE JS INVENTORY WEB APPLICATION</p>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-4">

  <div class="pt-2">
    <a href="/origin/origin"  class="btn btn-blue waves-effect">view all origin<span class="far fa-gem ml-1"></span></a>
    <a href="/product/product" class="btn btn-outline-primary waves-effect">view all Products<i class="fas fa-download ml-1"></i></a>
  </div>

</div>
<!-- Jumbotron -->