body {
    color: #fff;
    background: DodgerBlue;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
.card {
	padding: 40px;
	margin: 50px;
	height: 500px;
}


.mb-5{
	width: 900px;
}
#card{
	padding: 40px;
	margin: 50px;
	height: 200px;

}
#product{
	width: 400px;
	height: 500px;
	margin: 20px;
	padding: 10px;
}

  
